html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F9F4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #003e29;
    color: white;
    padding: 0px 5px;
    margin-left: 0px 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    padding-left: 1px;
}

img{
    width: 70px;
    height: 70px;
}

nav {
    flex: 1;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
}

nav a:hover {
    text-decoration: underline;
}

.search-form {
    float: right;
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: 20px 20px;
}

.search-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-form button {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #4CAF50;
    color: white;
}


footer {
    background-color: #003e29;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero {
        padding: 50px 20px;
    }

    .hero h2 {
        font-size: 2em;
    }
}
