
.hero {
    background-color: #F39C12;
    padding: 100px 20px 50px 20px;
    text-align: center;
    border-bottom: 2px solid #2C3E50;
    margin-top: 100px;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0 20px;
    color: #fff;
}

.hero button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #388E3C;
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.cart-items, .cart-summary {
    background-color: #ECF0F1;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-details img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-details p {
    font-size: 1.2em;
    color: #2C3E50;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item p {
    font-size: 1.2em;
    color: #2C3E50;
}

.delete-button {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #C0392B;
}

.cart-summary {
    text-align: center;
}

.summary-item p {
    font-size: 1.2em;
    color: #2C3E50;
    margin: 10px 0;
}

.cart-summary button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.cart-summary button:hover {
    background-color: #388E3C;
}

