
.hero {
    background-color: #F39C12;
    padding: 100px 20px 50px 20px;
    text-align: center;
    border-bottom: 2px solid #2C3E50;
    margin-top: 100px;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0 20px;
    color: #fff;
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.checkout {
    background-color: #ECF0F1;
    border-radius: 10px;
    padding: 20px;
}

.checkout-section {
    margin: 20px 0;
}

.checkout-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.checkout-section form {
    display: flex;
    flex-direction: column;
}

.checkout-section label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.checkout-section input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkout-summary {
    text-align: center;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.order-item:last-child {
    border-bottom: none;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-details img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #2C3E50;
}

.product-details p {
    font-size: 1.2em;
    color: #2C3E50;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity label {
    margin-right: 10px;
}

.quantity input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.order-total {
    font-size: 1.2em;
    color: #2C3E50;
    margin: 10px 0;
}

.checkout-summary button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.checkout-summary button:hover {
    background-color: #45A049;
}