
.hero {
    background-color: #F39C12;
    padding: 100px 20px 50px 20px;
    text-align: center;
    border-bottom: 2px solid #2C3E50;
    margin-top: 100px;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0 20px;
    color: #fff;
}

.hero button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #388E3C;
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.featured-products h2, .testimonials h2, .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2C3E50;
}

.product-grid, .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product, .testimonial {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: white;
    transition: box-shadow 0.3s;
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product h3, .testimonial p {
    margin: 10px 0;
    color: #2C3E50;
}

.product p, .testimonial span {
    color: #666;
}

.product button, .contact-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover, .contact-form button:hover {
    background-color: #388E3C;
}

.testimonial {
    font-style: italic;
}

.contact-form {
    text-align: center;
    padding: 20px;
    background-color: #ECF0F1;
    border-radius: 10px;
    margin: 40px 0;
}

.contact-form p {
    margin-bottom: 20px;
    color: #666;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}