{% extends 'product/base.html' %}

{% load static %}

{% block title %}Prescription List - MedConnect{% endblock %}

{% block content %}

<style>

.main {
    padding: 100px 20px 20px 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}
</style>

<div class="main">
    <h2>Prescription List</h2>
    <ul>
        {% for prescription in prescriptions %}
        <li>
            <img src="{{ prescription.prescription_image.url }}" alt="Prescription Image">
            <p>{{ prescription.description }}</p>
            <p>Upload date: {{ prescription.upload_date }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}