*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/pexels-shvetsa-3683088.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 300px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border: 1px solid white; /* Reduced border width */
    color: white;
    border-radius: 12px;
    padding: 30px 40px; 
    backdrop-filter: blur(5px);
}

.wrapper h2{
    font-size: 32px;
    text-align: center;
    color:  rgb(136, 244, 208);
}

.wrapper h3{
    font-size: 32px;
    text-align: center;
}

.wrapper .input-field{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-field input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: 2px solid white; /* Ensure border is visible */
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding-left: 30px;
}

.input-field input::placeholder{
    color: #ccc; /* Lighter placeholder color */
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.remember a{
    color: white;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: grey;
    font-weight: 600;
    margin-top: 10px;
}

.wrapper .register{
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
    color:  rgb(136, 244, 208);
}

.btn:hover{
    background-color: rgb(136, 244, 208);
}

.logo img{
    width: 30%;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
}
